# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
logs/

# Prisma
apps/api/prisma/*.db

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
.venv/
venv/

# Coverage
coverage/
